* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a {
    float: left;
    margin-left: 50px;
    color: #2245E3;
}

.s {
    float: right;
    margin-right: 164px;
    color: gray;
    list-style: none;
    margin-left: -123px;
}

.h {
    margin-left: 600px;
    background-color: #111B47;
    border: none;
    color: white;
}